<!-- File: _includes/comments.html -->
<div class="comments">
  <!-- Puoi implementare qui un sistema di commenti come Disqus -->
  <p>I commenti sono temporaneamente disabilitati. Torneranno presto!</p>
  
  <!-- Per implementare Disqus, decommentare questo codice e inserire il tuo shortname -->
  <!--
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://EXAMPLE.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Per visualizzare i commenti <a href="https://disqus.com/?ref_noscript">abilita JavaScript</a>.</noscript>
  -->
</div>
